{# templates/book/list.html.twig #}

<h1>Books</h1>

<p>This is a list of all the books.</p>

<table border="1">
    <thead>
        <tr>
            <th>Ref</th>
            <th>Title</th>
            <th>Published</th>
            <th>Publication Date</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        {% for book in tabBooks %}
            <tr>
                <td>{{ book.ref }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.published }}</td>
                <td>{{ book.publicationDate }}</td>
                <td>{{ book.category }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
