<h1>Author Details</h1>
<h3>Name: {{ author.username }}</h3>
<h3>Email: {{ author.email }}</h3>
<h3>Number of Books: {{ author.nb_books }}</h3>
<img src="{{ asset(author.image) }}" alt={{ author.username }} width="100px" height="100px">